<div class="fourteen wide column centered boards-view" data-userId='<%= @user.id %>'>
  <div class="fourteen wide column centered row">
    <div class="four wide column boards-title"><span id="#username"><%= @user.name %></span>'s Boards</div>
    <div class="ten wide column"></div>
  </div>

  <div class="fourteen wide column centered row">
    <div class="ui fluid cards">
      <% @boards.each do |board| %>
        <div class="ui card" data-boardId="<%= board.id %>">
          <div class="content">
            <div class="header left floated"><%= board.title %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='<%= current_user && can_modify?(@user) ? "modifiable" : "readable" %>'>
</div>
