<!DOCTYPE html>
<html>
<head>
  <title>BoardIt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
  <body class = "background">
    <div class="ui left vertical labeled inline icon sidebar menu">
      <a class="item" href="/">
        <i class="home icon"></i>
        Home
      </a>
      <% if current_user %>
        <a class="item" href="<%= user_boards_path(current_user) %>">
          <i class="book icon"></i>
          My Boards
        </a>
        <a class="item" href="/logout">
          <i class="sign out icon"></i>
          Log Out
        </a>
      <% else %>
        <a class="item" href="/auth/reddit">
          <i class="sign in icon"></i>
          Sign In
        </a>
      <% end %>
    </div>
    <div class="pusher">
      <div class="ui black big launch right attached fixed button menu-button">
        <i class="black content icon"></i>
        <span class="text">Menu</span>
      </div>
      <span class="ui two wide column right floated icon button add-board-button">
        <i class="two plus icon"></i>
        Add Board
      </span>
      <div class="ui grid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
